.VueHotToast__checkmark {
  width: 20px;
  opacity: 0;
  height: 20px;
  border-radius: 10px;
  background: #61d345;
  position: relative;
  transform: rotate(45deg);
  animation: checkmarkCircleAnimation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: 100ms;
}
.VueHotToast__checkmark:after {
  content: '';
  box-sizing: border-box;
  animation: checkmarkAnimation 0.2s ease-out forwards;
  opacity: 0;
  animation-delay: 200ms;
  position: absolute;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #fff;
  bottom: 6px;
  left: 6px;
  height: 10px;
  width: 6px;
}
@keyframes checkmarkCircleAnimation {
  from {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }
}
@keyframes checkmarkAnimation {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  40% {
    height: 0;
    width: 6px;
    opacity: 1;
  }
  100% {
    opacity: 1;
    height: 10px;
  }
}
.VueHotToast__error {
  width: 20px;
  opacity: 0;
  height: 20px;
  border-radius: 10px;
  background: #ff4b4b;
  position: relative;
  transform: rotate(45deg);
  animation: errorCircleAnimation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: 100ms;
}
.VueHotToast__error:after,
.VueHotToast__error:before {
  content: '';
  animation: errorFirstLineAnimation 0.15s ease-out forwards;
  animation-delay: 150ms;
  position: absolute;
  border-radius: 3px;
  opacity: 0;
  background: #fff;
  bottom: 9px;
  left: 4px;
  height: 2px;
  width: 12px;
}
.VueHotToast__error:before {
  animation: errorSecondLineAnimation 0.15s ease-out forwards;
  animation-delay: 180ms;
  transform: rotate(90deg);
}
@keyframes errorCircleAnimation {
  from {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }
}
@keyframes errorFirstLineAnimation {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes errorSecondLineAnimation {
  from {
    transform: scale(0) rotate(90deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(90deg);
    opacity: 1;
  }
}
.VueHotToast__loading {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100%;
  border-color: rgba(0, 0, 0, 0.1);
  border-right-color: rgba(0, 0, 0, 0.6);
  animation: loadingRotate 1s linear infinite;
}
@keyframes loadingRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.VueHotToast__toast-container {
  font-family: Helvetica, sans-serif;
  position: fixed;
  z-index: 9999;
  margin: 10px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  gap: 12px;
  pointer-events: none;
}
.VueHotToast__toast {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  color: var(--black);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.12);
  padding: 14px 22px;
  border-radius: 6px;
  cursor: pointer;
  pointer-events: auto;
  text-overflow: ellipsis;
  animation: toastAppear 0.2s ease-out forwards;
  white-space: nowrap;
  font-size: 14px;
}
@keyframes toastAppear {
  from {
    opacity: 0;
    transform: translateY(-40px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.VueHotToast__icon {
  margin-right: 12px;
}
.VueHotToast__top-left {
  top: 0;
  left: 0;
}
.VueHotToast__top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.VueHotToast__top-right {
  top: 0;
  right: 0;
}
.VueHotToast__bottom-left {
  bottom: 0;
  left: 0;
}
.VueHotToast__bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.VueHotToast__bottom-right {
  bottom: 0;
  right: 0;
}
.VueHotToast__middle-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
